@model Лабораторная_13.Models.Идентификация
@{
    ViewBag.Title = "Вход в личный кабинет";
}
<html>
<head>
    <link rel="icon" type="image/jpeg" href="http://tlc.asu.edu.ru/images/Image/AGU(1).jpg" />
</head>
<body>
    <h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Успеваемость", "Home", new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Используйте свой личный аккаунт</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Логин, new { @class = "form-control", @placeholder = "Логин" })
                @Html.ValidationMessageFor(m => m.Логин)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                @Html.PasswordFor(m => m.Пароль, new { @class = "form-control", @placeholder = "Пароль" })
                @Html.ValidationMessageFor(m => m.Пароль)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <input type="submit" value="Вход" class="btn btn-default" />
            </div>
        </div>
    }
</body>
</html>